<main id="content" role="main" tabindex="-1">
    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="loader" *ngIf="spinnerShown"></div>
            <jhi-gen-srv-msg [message]="msg" [warnHide]="warnHideParent" [successHide]="successHideParent"
                             [errorHide]="errorHideParent" [infoHide]="infoHideParent"
                             (warningStatusChange)="onMessageStatusChange($event)"
                             (errorStatusChange)="onMessageStatusChange($event)"
                             (successStatusChange)="onMessageStatusChange($event)"
                             (infoStatusChange)="onMessageStatusChange($event)"></jhi-gen-srv-msg>

            <h2 class="heading-medium">
                <span>Data Submission</span>
            </h2>

            <div class="form-group">
                <dl class="govuk-check-your-answers cya-questions-short">
                    <div>
                        <dd class="cya-question">Id</dd>
                        <dd class="cya-question">Status</dd>
                        <dd class="cya-question">Rejected Reason</dd>
                        <dd class="cya-question">Company Name</dd>
                        <dd class="cya-question">Company Bundle Name</dd>
                        <dd class="cya-question">Company DataInput Name</dd>
                        <dd class="cya-question">Company Deadline</dd>
                    </div>
                    <div *ngFor="let rm of rejectionModels">
                        <dd class="cya-answer"><div *ngIf="rm.id">{{rm.id}}</div></dd>
                        <dd class="cya-answer"><div *ngIf="rm.jobStatus">{{rm.jobStatus}}</div></dd>
                        <dd class="cya-answer"><div *ngIf="rm.rejectedReason">{{rm.rejectedReason}}</div></dd>
                        <dd class="cya-answer"><div *ngIf="rm.companyName">{{rm.companyName}}</div></dd>
                        <dd class="cya-answer"><div *ngIf="rm.companyDataInputName">{{rm.companyDataInputName}}</div></dd>
                        <dd class="cya-answer"><div *ngIf="rm.companyDataBundleName">{{rm.companyDataBundleName}}</div></dd>
                        <dd class="cya-answer"><div *ngIf="rm.companyDeadline">{{rm.companyDeadline}}</div></dd>
                     </div>
                </dl>
            </div>
            <div class="form-group">
                <button type="button"
                        routerLink="/company-data-collection-management"
                        class="button button-secondary float-left">
                    <span>Back</span>
                </button>
            </div>
        </div>
    </div>
</main>
