<main id="content" role="main" tabindex="-1">
    <div class="row">
        <div class="column-full">
            <h1 class="heading-large">Sign in</h1>
            <div class="error-message" *ngIf="authenticationError">
                <strong>Failed to sign in!</strong> Please check your credentials and try again. {{failureMessage}}
            </div>
        </div>
        <div class="">
            <form class="form" role="form" (ngSubmit)="login()">
                <div [ngClass]="{'form-group': true, 'form-group-error': authenticationError}">
                    <label class="form-label" for="username">Username
                        <span class="form-hint">
                            Enter your username.
                        </span>
                    </label>
                    <input type="text" [ngClass]="{'form-control':true, 'form-control-error':authenticationError}" name="username" id="username" placeholder=""
                           [(ngModel)]="username">
                </div>
                <div [ngClass]="{'form-group': true, 'form-group-error': authenticationError}">
                    <label class="form-label" for="username">Password
                        <span class="form-hint">
                            Enter your password.
                        </span>
                    </label>
                    <input type="password" [ngClass]="{'form-control':true, 'form-control-error':authenticationError}" name="password" id="password" placeholder=""
                           [(ngModel)]="password">
                </div>
                <button type="submit" class="button button-start"><span class="font-medium">Continue</span></button>
            </form>
            <p></p>
            <div class="">
                <a class="page-footer-secondary-link font-medium link" (click)="requestResetPassword()">Forgot your password?</a>
            </div>
        </div>
    </div>
</main>
