<main id="content" role="main" tabindex="-1">
    <div class="row">
        <div class="column-full">
            <h1 class="heading-large">Registration Request</h1>

            <div class="govuk-box-highlight" *ngIf="success">
                <h1 class="heading-xlarge">
                    We've registered your account.
                </h1>
                <p class="font-medium">
                    Please wait for your company administrator to approve your account.
                </p>
                <p class="font-medium">
                    We'll email and text you when you're ready to go!
                </p>
            </div>

            <div class="error-summary" role="alert" aria-labelledby="error-summary" *ngIf="error">
                <strong>Request failed!</strong> Please try again later.
            </div>

            <div class="error-summary" role="alert" aria-labelledby="error-summary" *ngIf="errorUserExists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="error-summary" role="alert" aria-labelledby="error-summary" *ngIf="errorEmailExists">
                <strong>Email is already in use!</strong> Please choose another one.
            </div>

            <div class="error-summary" role="alert" aria-labelledby="error-summary" *ngIf="errorCaptchaFailed">
                <strong>Captcha failed!</strong> Please try again.
            </div>

        </div>
        <div>
            <div *ngIf="!success && confirmRegistration" class="column-two-thirds">
                <h2 class="heading-medium">Confirm Registration Details</h2>

                  <dl class="govuk-check-your-answers cya-questions-short">
                    <div>
                        <dt class="cya-question">
                            Login
                        </dt>
                        <dd class="cya-answer">
                            {{registerAccount.login}}
                        </dd>
                        <dd class="cya-change"></dd>
                    </div>
                </dl>

                <dl class="govuk-check-your-answers cya-questions-short">
                    <div>
                        <dt class="cya-question">
                            Email
                        </dt>
                        <dd class="cya-answer">
                            {{registerAccount.email}}
                        </dd>
                        <dd class="cya-change"></dd>
                    </div>
                </dl>

                <dl class="govuk-check-your-answers cya-questions-short">
                    <div>
                        <dt class="cya-question">
                            Mobile telephone number
                        </dt>
                        <dd class="cya-answer">
                            {{registerAccount.mobileTelephoneNumber}}
                        </dd>
                        <dd class="cya-change"></dd>
                    </div>
                </dl>

                <dl class="govuk-check-your-answers cya-questions-short">
                    <div>
                        <dt class="cya-question">
                            Company
                        </dt>
                        <dd class="cya-answer">
                            {{selectedCompany.name}}
                        </dd>
                        <dd class="cya-change"></dd>
                    </div>
                </dl>
                <div class="form-group">
                    <button class="button button-start" (click)="register()"><span class="font-medium">Request account</span></button>
                    <button class="button button-secondary" (click)="cancel()"><span class="font-medium">Edit details</span></button>
                </div>
            </div>
            <form name="form" role="form" (ngSubmit)="confirm()" #registerForm="ngForm" *ngIf="!success && !confirmRegistration">
                <div class="form-group">
                    <label class="form-label" for="login">Username
                        <span class="form-hint">
                            This will be the name you use to login.
                        </span>
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder=""
                           required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">
                    <div *ngIf="login.dirty && login.invalid">
                        <small class="form-text text-danger" *ngIf="login.errors.required">
                            Your username is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.minlength"
                        >
                            Your username is required to be at least 1 character.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.maxlength"
                        >
                            Your username cannot be longer than 50 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.pattern"
                        >
                            Your username can only contain lower-case letters and digits.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="email">Email
                        <span class="form-hint">
                            Your current email address.
                        </span>
                    </label>
                    <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder=""
                           [(ngModel)]="registerAccount.email" minlength=5 maxlength=100 required>
                    <div *ngIf="email.dirty && email.invalid">
                        <small class="form-text text-danger" *ngIf="email.errors.required"
                        >
                            Your email is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.invalid"
                        >
                            Your email is invalid.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.minlength"
                        >
                            Your email is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.maxlength"
                        >
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="mobileTelephoneNumber">Mobile telephone number
                        <span class="form-hint">
                            We will need to send you a text message to authenticate your account.
                        </span>
                    </label>
                    <input type="tel" class="form-control" id="mobileTelephoneNumber" name="mobileTelephoneNumber" #mobileTelephoneNumberInput="ngModel" placeholder=""
                           [(ngModel)]="registerAccount.mobileTelephoneNumber" minlength=4 maxlength=50 required>
                    <div *ngIf="mobileTelephoneNumberInput.dirty && mobileTelephoneNumberInput.invalid">
                        <small class="form-text text-danger" *ngIf="mobileTelephoneNumberInput.errors.required"
                        >
                            Your mobile telephone number is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="company">Company
                        <span class="form-hint">
                            Please select the company you work for.
                          </span>
                    </label>
                    <select style="height: auto" class="form-control" id="company" name="company" #companyInput="ngModel"
                            [(ngModel)]="this.selectedCompany" required>
                        <option *ngFor="let c of this.companies" [ngValue]="c">{{c.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <re-captcha (resolved)="resolved($event)" [(ngModel)]="registerAccount.captcha" #captchaInput="ngModel" name="captcha" required siteKey="6LfcITEUAAAAAOrOMA8wBwB9ngZb52Mxo63JeLq1"></re-captcha>
                </div>
                <button type="submit" [disabled]="registerForm.form.invalid" class="button button-start"><span class="font-medium">Request account</span></button>
            </form>
        </div>
    </div>
</main>
