<div>
    <div >
        <div class="loader" *ngIf="spinnerShown"></div>
        <jhi-gen-srv-msg [message]="msg" [warnHide]="warnHideParent" [successHide]="successHideParent"
                         [errorHide]="errorHideParent" [infoHide]="infoHideParent"
                         (warningStatusChange)="onMessageStatusChange($event)"
                         (errorStatusChange)="onMessageStatusChange($event)"
                         (successStatusChange)="onMessageStatusChange($event)"
                         (infoStatusChange)="onMessageStatusChange($event)"></jhi-gen-srv-msg>
        <h2 class="heading-medium">Confirm Data Collection Deletion</h2>
        <div class="alert alert-success" *ngIf="dataCollection">
            <p>You are about to delete the Data Collection: <b>{{dataCollection.name}}.</b></p>
            <p>Deleting this Data Collection will delete all Data Bundles and Data Inputs it contains. Are you sure you would like to continue?</p>
        </div>

    </div>
    <div class="col-md-8 offset-md-2" *ngIf="dataCollection">
        <button class="button button-warning float-left" (click)="delete(dataCollection.id)">
            <span>Delete Data Collection</span>
        </button>
        <button class="button button-secondary float-left" [routerLink]="['/data-collection-detail', dataCollection.id]">
            <span>Back to Data Collection Detail</span>
        </button>
        <p></p>
    </div>
</div>
