<div>
    <div >
        <warningmsg [message]="msg" [hidden]="warnHide" (warningStatusChange)="onMessageStatusChange($event)"></warningmsg>
        <errormsg [message]="msg" [hidden]="errorHide" (errorStatusChange)="onMessageStatusChange($event)"></errormsg>
        <successmsg [message]="msg" [hidden]="successHide" (successStatusChange)="onMessageStatusChange($event)"></successmsg>
        <infomsg [message]="msg" [hidden]="infoHide" (infoStatusChange)="onMessageStatusChange($event)"></infomsg>
        <h2 class="heading-medium">Confirm Data Collection Deletion</h2>
        <div class="alert alert-success" *ngIf="dataCollection">
            <p>You are about to delete the Data Collection: <b>{{dataCollection.name}}.</b></p>
            <p>Deleting this Data Collection will delete all Data Bundles and Data Inputs it contains. Are you sure you would like to continue?</p>
        </div>

    </div>
    <div class="col-md-8 offset-md-2" *ngIf="dataCollection">
        <!--<button class="button float-left" [routerLink]="['/data-collection-deleted', dataCollection.name]">-->
            <!--<span class="fa fa-plus"></span> <span>Delete Data Collection</span>-->
        <!--</button>-->
        <button class="button button-warning float-left" (click)="delete(dataCollection.id)">
            <span>Delete Data Collection</span>
        </button>
        <button class="button button-secondary float-left" [routerLink]="['/data-collection-detail', dataCollection.id]">
            <span>Back to Data Collection Detail</span>
        </button>
        <p></p>
    </div>
</div>
