<div>
    <div >
        <h2 class="heading-medium">Confirm Data Input Deletion</h2>
        <div class="alert alert-success" *ngIf="dataInput">
            <p>You are about to delete the Data Collection: <b>{{dataInput.name}}.</b></p>
            <p>Are you sure you would like to continue?</p>
        </div>

    </div>
    <div class="col-md-8 offset-md-2" *ngIf="dataInput">
        <button class="button button-warning float-left" (click)="delete(dataInput.id)">
            <span>Delete Data Input</span>
        </button>
        <button class="button button-secondary float-left" [routerLink]="['/data-input-detail', dataInput.id]">
            <span>Back to Data Input Detail</span>
        </button>
        <p></p>
    </div>
</div>
