<div>
    <div >
        <h2 class="heading-medium">Confirm Data Input Deletion</h2>
        <div class="alert alert-success" *ngIf="dataInput">
            <strong>Delete this Data Input?</strong>
            <strong>{{dataInput.name}}</strong>
        </div>

    </div>
    <div class="col-md-8 offset-md-2" *ngIf="dataInput">
        <!--<button class="button float-right" [routerLink]="['/data-input-deleted', dataInput.name]">-->
            <!--<span class="fa fa-plus"></span> <span>Delete Data Input</span>-->
        <!--</button>-->
        <button class="button float-right" (click)="delete(dataInput.id)">
            <span class="fa fa-plus"></span> <span>Delete Data Input</span>
        </button>
        <button class="button button-secondary" [routerLink]="['/data-input-detail', dataInput.id]">
            <span class="fa fa-plus"></span> <span>Back to Data Input Detail</span>
        </button>
        <p></p>
    </div>
</div>
