<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDataInputLabel">Create or edit a Data Input</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!dataInput.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="dataInput.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="dataInput.name" required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="dataInput.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_guidance">Guidance</label>
            <input type="text" class="form-control" name="guidance" id="field_guidance"
                [(ngModel)]="dataInput.guidance"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_defaultDeadline">Default Deadline</label>
            <div class="input-group">
                <input id="field_defaultDeadline" type="text" class="form-control" name="defaultDeadline" ngbDatepicker  #defaultDeadlineDp="ngbDatepicker" [(ngModel)]="dataInput.defaultDeadline"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="defaultDeadlineDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_orderIndex">Order Index</label>
            <input type="number" class="form-control" name="orderIndex" id="field_orderIndex"
                [(ngModel)]="dataInput.orderIndex" required />
            <div [hidden]="!(editForm.controls.orderIndex?.dirty && editForm.controls.orderIndex?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.orderIndex?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.orderIndex?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_fileName">File Name</label>
            <input type="text" class="form-control" name="fileName" id="field_fileName"
                [(ngModel)]="dataInput.fileName" required />
            <div [hidden]="!(editForm.controls.fileName?.dirty && editForm.controls.fileName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fileName?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_fileLocation">File Location</label>
            <input type="text" class="form-control" name="fileLocation" id="field_fileLocation"
                [(ngModel)]="dataInput.fileLocation" required />
            <div [hidden]="!(editForm.controls.fileLocation?.dirty && editForm.controls.fileLocation?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fileLocation?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="field_status">Status</label>
            <select class="form-control" id="field_status" name="status" [(ngModel)]="dataInput.statusId"  required>
                <option [ngValue]="publishingStatusOption.id" *ngFor="let publishingStatusOption of publishingstatuses; trackBy: trackPublishingStatusById">{{publishingStatusOption.status}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.status?.errors?.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label for="field_dataBundle">Data Bundle</label>
            <select class="form-control" id="field_dataBundle" name="dataBundle" [(ngModel)]="dataInput.dataBundleId"  required>
                <option [ngValue]="dataBundleOption.id" *ngFor="let dataBundleOption of databundles; trackBy: trackDataBundleById">{{dataBundleOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.dataBundle?.dirty && editForm.controls.dataBundle?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.dataBundle?.errors?.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label for="field_owner">Owner</label>
            <select class="form-control" id="field_owner" name="owner" [(ngModel)]="dataInput.ownerId"  required>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.firstName}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.owner?.dirty && editForm.controls.owner?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.owner?.errors?.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label for="field_reviewer">Reviewer</label>
            <select class="form-control" id="field_reviewer" name="reviewer" [(ngModel)]="dataInput.reviewerId"  required>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.firstName}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.reviewer?.dirty && editForm.controls.reviewer?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.reviewer?.errors?.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
