<div>
     <div>
        <div class="loader" *ngIf="spinnerShown"></div>
        <jhi-gen-srv-msg [message]="msg" [warnHide]="warnHideParent" [successHide]="successHideParent"
                         [errorHide]="errorHideParent" [infoHide]="infoHideParent"
                         (warningStatusChange)="onMessageStatusChange($event)"
                         (errorStatusChange)="onMessageStatusChange($event)"
                         (successStatusChange)="onMessageStatusChange($event)"
                         (infoStatusChange)="onMessageStatusChange($event)"></jhi-gen-srv-msg>
        <h2 class="heading-medium">Create Data Input for bundle: {{dataBundle?.name}}</h2>

        <div class="alert alert-success" *ngIf="success">
            <button type="button"
                    class="button button-secondary float-left"
                    [routerLink]="['/data-bundle-detail', dataInput.dataBundleId]">
                <span>Back to Data Bundle</span>
            </button>
        </div>

        <div class="alert alert-danger" *ngIf="error">
            <button type="button"
                    class="button button-secondary float-left"
                    [routerLink]="['/data-bundle-detail', dataInput.dataBundleId]">
                <span>Back to Data Bundle</span>
            </button>
        </div>

        <div class="alert alert-danger" *ngIf="errorDataInputExists">
            <p><strong>Data Input name '{{dataInput.name}}' is already in use!</strong> Please choose another one.</p>
            <button type="button"
                    class="button button-secondary float-left"
                    [routerLink]="['/data-bundle-detail', dataInput.dataBundleId]">
                <span>Back to Data Bundle</span>
            </button>
        </div>
    </div>
    <div class="col-md-8 offset-md-2">
        <form name="form" role="form" (ngSubmit)="create()" #dataInputCreationForm="ngForm" *ngIf="!success && !errorDataInputExists">
            <div class="form-group">
                <label class="form-label" for="fileName">
                    Upload a file
                </label>
                <jhi-upload *ngIf="!success && !errorDataInputExists" [valueLocation]="" [valueMultiple]="true" (filesUploaded)="onFileUploaded($event)"></jhi-upload>

            </div>



            <div class="form-group">
                <label class="form-label" for="name">Report Id
                    <span class="form-hint">The report id of the data input.</span>
                </label>
                <input type="text" class="form-control" [(ngModel)]="dataInput.reportId" id="reportId" name="reportId" #name="ngModel" placeholder=""
                       required minlength="1" maxlength="250" pattern="^[^\s]+(\s+[^\s]+)*$"/>
                <div *ngIf="name.dirty && name.invalid">
                    <small class="form-text text-danger" *ngIf="name.errors.required">
                        A report id is required for the data input.
                    </small>
                    <small class="form-text text-danger" *ngIf="name.errors.minlength">
                        The data input report id is required to be at least 1 character.
                    </small>
                    <small class="form-text text-danger" *ngIf="name.errors.maxlength">
                        The data input report id cannot be longer than 250 characters.
                    </small>
                    <small class="form-text text-danger" *ngIf="name.errors.pattern">
                        The data input report id can contain any characters, but must not start or end with white space.
                    </small>
                </div>
            </div>


            <div class="form-group">
                <label class="form-label" for="name">Name
                    <span class="form-hint">The name of the data input.</span>
                </label>
                <input type="text" class="form-control" [(ngModel)]="dataInput.name" id="name" name="name" #name="ngModel" placeholder=""
                       required minlength="1" maxlength="250" pattern="^[^\s]+(\s+[^\s]+)*$"/>
                <div *ngIf="name.dirty && name.invalid">
                    <small class="form-text text-danger" *ngIf="name.errors.required">
                        A name is required for the data input.
                    </small>
                    <small class="form-text text-danger" *ngIf="name.errors.minlength">
                        The data input name is required to be at least 1 character.
                    </small>
                    <small class="form-text text-danger" *ngIf="name.errors.maxlength">
                        The data input name cannot be longer than 250 characters.
                    </small>
                    <small class="form-text text-danger" *ngIf="name.errors.pattern">
                        The data input name can contain any characters, but must not start or end with white space.
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label" for="description">Description
                    <span class="form-hint">The description of the data input.</span>
                </label>
                <textarea rows="3" class="form-control" [(ngModel)]="dataInput.description" id="description" name="description" #description="ngModel" placeholder=""
                          required minlength="1" maxlength="250"></textarea>
                <div *ngIf="description.dirty && description.invalid">
                    <small class="form-text text-danger" *ngIf="description.errors.required">
                        A description is required for the data input.
                    </small>
                    <small class="form-text text-danger" *ngIf="description.errors.minlength">
                        The data input description is required to be at least 1 character.
                    </small>
                    <small class="form-text text-danger" *ngIf="description.errors.maxlength">
                        The data input description cannot be longer than 250 characters.
                    </small>
                    <small class="form-text text-danger" *ngIf="description.errors.pattern">
                        The data input description can contain any characters, but must not start or end with white space.
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label" for="guidance">Guidance
                    <span class="form-hint">Guidance for the data input.</span>
                </label>
                <textarea rows="5" class="form-control" [(ngModel)]="dataInput.guidance" id="guidance" name="guidance" #guidance="ngModel" placeholder=""
                       required minlength="1" maxlength="250"></textarea>
                <div *ngIf="guidance.dirty && guidance.invalid">
                    <small class="form-text text-danger" *ngIf="guidance.errors.required">
                        Guidance is required for the data input.
                    </small>
                    <small class="form-text text-danger" *ngIf="guidance.errors.minlength">
                        The data input guidance is required to be at least 1 character.
                    </small>
                    <small class="form-text text-danger" *ngIf="guidance.errors.maxlength">
                        The data input guidance cannot be longer than 250 characters.
                    </small>
                    <small class="form-text text-danger" *ngIf="guidance.errors.pattern">
                        The data input guidance can contain any characters, but must not start or end with white space.
                    </small>
                </div>
            </div>

            <jhi-ofwat-user-select
                [selectedUser]="selectedOwner"
                [userResponsibility]="'owner'"
                [resourceType]="'Input'"
                (userChangedEvent)="ownerChanged($event)">
            </jhi-ofwat-user-select>

            <jhi-ofwat-user-select
                [selectedUser]="selectedReviewer"
                [userResponsibility]="'reviewer'"
                [resourceType]="'Input'"
                (userChangedEvent)="reviewerChanged($event)">
            </jhi-ofwat-user-select>


            <div class="form-group">
                <button type="submit"
                        [disabled]="dataInputCreationForm.form.invalid"
                        class="button float-left"
                       >
                    <span>Create Data Input</span>
                </button>
                <button type="button"
                        class="button button-secondary float-left"
                        [routerLink]="['/data-bundle-detail', dataBundle?.id]">
                    <span>Back</span>
                </button>
            </div>
        </form>
    </div>
</div>
