<div>
    <span *ngIf="display">
    <select style="height: auto" class="form-control"
            id="currentSelectedCompany"
            (change)="companyChanged(event)"
            name="currentSelectedCompany"
            #companyInput="ngModel"
            [(ngModel)]="this.selectedCompany"
            required
            [compareWith]="byId"
            >
        <option *ngFor="let c of this.companies" [ngValue]="c">{{c.name}}</option>
    </select>
    </span>
    <span class="" style="color:white;" (click)="toggle()">{{message}} company select</span>
</div>
