<!--    <warningmsg [message]="msg" [hidden]="warnHide" (warningStatusChange)="onMessageStatusChange($event)"></warningmsg>
    <errormsg [message]="msg" [hidden]="errorHide" (errorStatusChange)="onMessageStatusChange($event)"></errormsg>
    <successmsg [message]="msg" [hidden]="successHide" (successStatusChange)="onMessageStatusChange($event)"></successmsg>
    <infomsg [message]="msg" [hidden]="infoHide" (infoStatusChange)="onMessageStatusChange($event)"></infomsg>-->

    <div *ngIf="errorHide"  class="error font-small animated fadeIn">
        <strong>Error: </strong> {{message}}
        <button class="btn btn-error" (click)="onMessageStatusChange()" type="submit"><span class="font-small">Ok</span></button>
    </div>

    <div *ngIf="infoHide" class="info font-small animated fadeIn" >
        <strong>Information: </strong> {{message}}
        <button class="btn btn-information" (click)="onMessageStatusChange()" type="submit"><span class="font-small">Ok</span></button>
    </div>

    <div *ngIf="successHide" class="success font-small animated fadeIn" >
        <strong>Success: </strong> {{message}}
        <button class="btn btn-success" (click)="onMessageStatusChange()" type="submit"><span class="font-small">Ok</span></button>
    </div>

    <div  *ngIf="warnHide" class="warning font-small animated fadeIn" >
        <strong>Warning: </strong> {{message}}
        <button class="btn btn-warning" (click)="onMessageStatusChange()" type="submit"><span class="font-small">Ok</span></button>
    </div>
