<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCompanyDataBundleLabel">Create or edit a Company Data Bundle</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!companyDataBundle.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="companyDataBundle.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="companyDataBundle.name" required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_companyDeadline">Company Deadline</label>
            <div class="input-group">
                <input id="field_companyDeadline" type="text" class="form-control" name="companyDeadline" ngbDatepicker  #companyDeadlineDp="ngbDatepicker" [(ngModel)]="companyDataBundle.companyDeadline"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="companyDeadlineDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label for="field_status">Status</label>
            <select class="form-control" id="field_status" name="status" [(ngModel)]="companyDataBundle.statusId"  required>
                <option [ngValue]="companyStatusOption.id" *ngFor="let companyStatusOption of companystatuses; trackBy: trackCompanyStatusById">{{companyStatusOption.status}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.status?.errors?.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label for="field_company">Company</label>
            <select class="form-control" id="field_company" name="company" [(ngModel)]="companyDataBundle.companyId"  required>
                <option [ngValue]="companyOption.id" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.company?.dirty && editForm.controls.company?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.company?.errors?.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label for="field_companyDataCollection">Company Data Collection</label>
            <select class="form-control" id="field_companyDataCollection" name="companyDataCollection" [(ngModel)]="companyDataBundle.companyDataCollectionId"  required>
                <option [ngValue]="companyDataCollectionOption.id" *ngFor="let companyDataCollectionOption of companydatacollections; trackBy: trackCompanyDataCollectionById">{{companyDataCollectionOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.companyDataCollection?.dirty && editForm.controls.companyDataCollection?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.companyDataCollection?.errors?.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label for="field_dataBundle">Data Bundle</label>
            <select class="form-control" id="field_dataBundle" name="dataBundle" [(ngModel)]="companyDataBundle.dataBundleId"  required>
                <option [ngValue]="dataBundleOption.id" *ngFor="let dataBundleOption of databundles; trackBy: trackDataBundleById">{{dataBundleOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.dataBundle?.dirty && editForm.controls.dataBundle?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.dataBundle?.errors?.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label for="field_companyOwner">Company Owner</label>
            <select class="form-control" id="field_companyOwner" name="companyOwner" [(ngModel)]="companyDataBundle.companyOwnerId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.firstName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_companyReviewer">Company Reviewer</label>
            <select class="form-control" id="field_companyReviewer" name="companyReviewer" [(ngModel)]="companyDataBundle.companyReviewerId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.firstName}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
