<div id="skiplink-container">
    <div>
        <a href="#content" class="skiplink"></a>
    </div>
</div>
<jhi-accept-cookie></jhi-accept-cookie>
<jhi-page-ribbon></jhi-page-ribbon>
<header role="banner" id="global-header" class="with-proposition">
    <div class="header-wrapper">
        <div class="header-global">
            <div class="header-logo">
                <a href="https://www.ofwat.gov.uk/" title="Go to the OFWAT.GOV.UK homepage" id="logo" class="content">
                    <img src="../../../content/images/ofwat_logo_white_small.svg?0.22.3" height="32" alt=""> <!--OFWAT.GOV.UK-->
                </a>
            </div>
        </div>
        <div class='header-proposition'>
            <div class='content'>
                <router-outlet name="navbar"></router-outlet>
            </div>
        </div>
    </div>
</header>
<div id="global-header-bar"></div>


<div id="" class="site-wrapper">
    <div class="navigation-service" *ngIf="">
        <div class="navigation-service-name">
            companysharingexternal
        </div>
        <a href="/services" class="navigation-service-switch">Switch company</a>
    </div>
    <router-outlet></router-outlet>
    <router-outlet name="popup"></router-outlet>
</div>






<jhi-footer></jhi-footer>


<div id="global-app-error" class="app-error hidden"></div>
