<div *ngIf="dataInput">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h2 class="heading-medium">
                <span>Company Data Input</span>
            </h2>

            <dl class="govuk-check-your-answers cya-questions-short">
                <div>
                    <dd class="cya-question">Name</dd>
                    <dd class="cya-answer">{{dataInput.name}}</dd>
                    <dd></dd>
                </div>
                <div>
                    <dd class="cya-question">Data Bundle</dd>
                    <dd class="cya-answer">{{dataInput.companyDataBundleName}}</dd>
                    <dd></dd>
                </div>
                <div >
                    <dd class="cya-question">Data File</dd>
                    <dd class="cya-answer"><div *ngIf="dataInput.dataInputId"><a href="api/data-download/{{dataInput.dataInputId}}" #fileInput id="{{dataInput.dataInputId}}" >Download</a></div></dd>
                </div>

                <div>
                    <dd class="cya-question">Status</dd>
                    <dd class="cya-answer">{{dataInput.statusStatus}}</dd>
                    <dd></dd>
                </div>
                <div>
                    <dd class="cya-question">Owner</dd>
                    <dd class="cya-answer"><div *ngIf="dataInput.companyOwnerFirstName">{{dataInput.companyOwnerFirstName}}</div></dd>
                    <dd></dd>
                </div>
                <div>
                    <dd class="cya-question">Reviewer</dd>
                    <dd class="cya-answer"><div *ngIf="dataInput.companyReviewerFirstName">{{dataInput.companyReviewerFirstName}}</div></dd>
                    <dd></dd>
                </div>
                <div>
                    <dd class="cya-question">Company Name</dd>
                    <dd class="cya-answer">{{dataInput.companyName}}</dd>
                    <dd></dd>
                </div>
                <div>
                    <dd class="cya-question">Input Type</dd>
                    <dd class="cya-answer">{{dataInput.inputTypeType}}</dd>
                    <dd></dd>
                </div>

                <div >
                    <dd class="cya-question"><div *ngIf="dataInput.dataInputId">Upload a file</div></dd>
                    <dd class="cya-answer" style="width: 120%;"><jhi-upload *ngIf="!success && !errorDataInputExists"  [valueCompanyInputId]="company_data_input_id" [valueMultiple]="true"></jhi-upload></dd>
                </div>

            </dl>
            <button type="submit"
                    [routerLink]="['/company-data-bundle-detail', dataInput.companyDataBundleId]"
                    class="button button-secondary float-left">
                <span>Back</span>
            </button>
        </div>
    </div>
</div>

