
// This CSS will print because %message-shared is extended.
%message-shared {
    border: 1px solid #ccc;
    padding: 10px;
    color: #333;
    min-width: 25em;
    max-width: 50em;
    display:inline-block;
    margin-top: 1.875em;
    margin-bottom: 0.83333em;
    overflow: auto;
    position: fixed;
    top: 155px;
    opacity: 1;
    transform: scale(1);
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

.info {
    @extend %message-shared;
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.success {
    @extend %message-shared;
    border-color: green;
    color: #468847;
    background-color: #dff0d8;

}

.error {
    @extend %message-shared;
    border-color: red;
    color: #b94a48;
    background-color: #f2dede;

}

.warning {
    @extend %message-shared;
    border-color: yellow;
    color: #8a6d3b;
    background-color: #fcf8e3;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 9px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: 2em;
    float: right;

}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-error {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-information {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

// Form validation
// ==========================================================================

// Use .form-group-error to add a red border to the left of a .form-group
.form-group-error {
  margin-right: 15px;
  border-left: 4px solid $error-colour;
  padding-left: 10px;

  @include media(tablet) {
    border-left: 5px solid $error-colour;
    padding-left: $gutter-half;
  }
}

// Use .form-control-error to add a red border to .form-control
.form-control-error {
  border: 4px solid $error-colour;
}


// Error messages should be red and bold
.error-message {
  @include bold-19;
  color: $error-colour;


  display: block;
  clear: both;

  margin: 0;
  padding: 2px 0;
}

.form-label .error-message,
.form-label-bold .error-message {
  padding-top: 4px;
  padding-bottom: 0;
}

// Summary of multiple error messages
.error-summary {

  // Error summary has a border on all sides
  border: 4px solid $error-colour;

  margin-top: $gutter-half;
  margin-bottom: $gutter-half;

  padding: $gutter-half 10px;

  @include media(tablet) {
    border: 5px solid $error-colour;

    margin-top: $gutter;
    margin-bottom: $gutter;

    padding: $gutter-two-thirds $gutter-half $gutter-half;
  }

  @include ie-lte(6) {
    zoom: 1;
  }

  // Use the GOV.UK outline focus style
  &:focus {
    outline: 3px solid $focus-colour;
  }

  .error-summary-heading {
    margin-top: 0;
  }

  p {
    margin-bottom: 10px;
  }

  .error-summary-list {
    padding-left: 0;

    li {

      @include media(tablet) {
        margin-bottom: 5px;
      }
    }

    a {
      color: $error-colour;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
