<div>
    <div>
        <h2 class="heading-medium">Edit Data Bundle</h2>
        <h3 class="heading-small" *ngIf="!success && !errorDataBundleExists">Data Collection: {{dataBundle.dataCollectionName}}</h3>

        <div class="alert alert-success" *ngIf="success">
            <p><strong>Data Bundle edited</strong></p>
            <button type="button"
                    class="button button-secondary float-left"
                    [routerLink]="['/data-bundle-detail', dataBundle.id]">
                <span>Back to Data Bundle</span>
            </button>
        </div>

        <div class="alert alert-danger" *ngIf="error">
            <p><strong>Data Bundle edit failed!</strong> Please try again later.</p>
            <button type="button"
                    class="button button-secondary float-left"
                    [routerLink]="['/data-bundle-detail', dataBundle.id]">
                <span>Back to Data Bundle</span>
            </button>
        </div>

        <div class="alert alert-danger" *ngIf="errorDataBundleExists">
            <p><strong>Data Bundle name '{{dataBundle.name}}' is already in use!</strong> Please choose another one.</p>
            <button type="button"
                    class="button button-secondary float-left"
                    [routerLink]="['/data-bundle-detail', dataBundle.id]">
                <span>Back to Data Bundle</span>
            </button>
        </div>
    </div>

    <div class="col-md-8 offset-md-2">
        <form name="form" role="form" (ngSubmit)="save()" #dataBundleEditForm="ngForm" *ngIf="!success && !errorDataBundleExists">
            <div class="form-group">
                <label class="form-label" for="name">Name
                    <span class="form-hint">The name of the data bundle.</span>
                </label>
                <input type="text" class="form-control" [(ngModel)]="dataBundle.name" id="name" name="name" #name="ngModel" placeholder=""
                       required minlength="1" maxlength="250" pattern="^[^\s]+(\s+[^\s]+)*$"/>
                <div *ngIf="name.dirty && name.invalid">
                    <small class="form-text text-danger" *ngIf="name.errors.required">
                        A name is required for the data bundle.
                    </small>
                    <small class="form-text text-danger" *ngIf="name.errors.minlength">
                        The data bundle name is required to be at least 1 character.
                    </small>
                    <small class="form-text text-danger" *ngIf="name.errors.maxlength">
                        The data bundle name cannot be longer than 250 characters.
                    </small>
                    <small class="form-text text-danger" *ngIf="name.errors.pattern">
                        The data bundle name can contain any characters, but must not start or end with white space.
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label" for="description">Description
                    <span class="form-hint">The description of the data bundle.</span>
                </label>
                <textarea rows="3" class="form-control" [(ngModel)]="dataBundle.description" id="description" name="description" #description="ngModel" placeholder=""
                          required minlength="1" maxlength="250"></textarea>
                <div *ngIf="description.dirty && description.invalid">
                    <small class="form-text text-danger" *ngIf="description.errors.required">
                        A description is required for the data bundle.
                    </small>
                    <small class="form-text text-danger" *ngIf="description.errors.minlength">
                        The data bundle description is required to be at least 1 character.
                    </small>
                    <small class="form-text text-danger" *ngIf="description.errors.maxlength">
                        The data bundle description cannot be longer than 250 characters.
                    </small>
                    <small class="form-text text-danger" *ngIf="description.errors.pattern">
                        The data bundle description can contain any characters, but must not start or end with white space.
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label" for="guidance">Guidance
                    <span class="form-hint">The guidance of the data bundle.</span>
                </label>
                <textarea rows="5" class="form-control" [(ngModel)]="dataBundle.guidance" id="guidance" name="guidance" #guidance="ngModel" placeholder=""
                       required minlength="1" maxlength="250"></textarea>
                <div *ngIf="guidance.dirty && guidance.invalid">
                    <small class="form-text text-danger" *ngIf="guidance.errors.required">
                        Guidance is required for the data bundle.
                    </small>
                    <small class="form-text text-danger" *ngIf="guidance.errors.minlength">
                        The data bundle guidance is required to be at least 1 character.
                    </small>
                    <small class="form-text text-danger" *ngIf="guidance.errors.maxlength">
                        The data bundle guidance cannot be longer than 250 characters.
                    </small>
                    <small class="form-text text-danger" *ngIf="guidance.errors.pattern">
                        The data bundle guidance can contain any characters, but must not start or end with white space.
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label" for="deadline">Deadline
                    <span class="form-hint">The deadline by which companies must submit this data bundle</span>
                    <span class="form-hint">For example, 30 12 2018</span>
                </label>
                <input class="form-control"
                       [(ngModel)]="dataBundle.defaultDeadline"
                       id="deadline"
                       name="deadline"
                       #deadline="ngModel"
                       type="date"
                       placeholder="yyyy-MM-dd"
                       min="{{currentDate | date:'yyyy-MM-dd'}}"
                       required />
                <div *ngIf="deadline.dirty && deadline.invalid">
                    <small class="form-text text-danger" *ngIf="deadline.errors.required">
                        Deadline is required for the data bundle.
                    </small>
                    <small class="form-text text-danger" *ngIf="deadline.errors.date">
                        Please enter a valid date.
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label" for="owner">Owner
                    <span class="form-hint">The owner responsible for the Data Bundle</span>
                </label>
                <select class="form-control" [(ngModel)]="ownerIndex" id="owner" name="owner" #owner="ngModel">
                    <option *ngFor="let user of users"
                            [value]="user?.id"
                            [selected]="dataBundle?.ownerId==user?.id ? true : null" >
                        {{user?.firstName}} {{user?.lastName}}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label class="form-label" for="reviewer">Reviewer
                    <span class="form-hint">The reviewer responsible for reviewing the Data Bundle</span>
                </label>
                <select class="form-control" [(ngModel)]="reviewerIndex" id="reviewer" name="reviewer" #reviewer="ngModel">
                    <option *ngFor="let user of users"
                            [value]="user?.id"
                            [selected]="dataBundle?.reviewerId==user?.id ? true : null" >
                        {{user?.firstName}} {{user?.lastName}}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <button type="submit"
                        [disabled]="dataBundleEditForm.form.invalid"
                        class="button float-left">
                    <span>Save</span>
                </button>
                <button type="button"
                        class="button button-secondary float-left"
                        [routerLink]="['/data-bundle-detail', dataBundle.id]">
                    <span>Back</span>
                </button>
                <button *ngIf="dataBundle.statusStatus=='DRAFT'" class="button float-left" (click)="markAsReview()">
                    <span>Mark as Review</span>
                </button>
                <button *ngIf="dataBundle.statusStatus=='REVIEW'" class="button float-left" (click)="markAsDraft()">
                    <span>Mark as Draft</span>
                </button>
                <button *ngIf="dataBundle.statusStatus=='REVIEW'" class="button float-left" (click)="markAsPending()">
                    <span>Mark as Unpublished</span>
                </button>
                <button *ngIf="dataBundle.statusStatus=='UNPUBLISHED'" class="button float-left" (click)="markAsReview()">
                    <span>Mark as Reviewed</span>
                </button>
                <button *ngIf="dataBundle.statusStatus=='UNPUBLISHED'" class="button float-left" (click)="markAsPublished()">
                    <span>Publish</span>
                </button>
                <button *ngIf="dataBundle.statusStatus=='PUBLISHED'" class="button float-left" (click)="markAsPending()">
                    <span>Mark as Reviewed</span>
                </button>
            </div>
        </form>
        <p></p>
    </div>
</div>
