<main id="content" role="main" tabindex="-1">
    <div class="row">
        <div class="column-full">
            <h1 class="heading-large">Register as a user</h1>

            <div class="alert alert-danger" *ngIf="keyMissing">
                <strong>The account registration key is missing.</strong>
            </div>

            <div class="" *ngIf="success">
<!--                <strong>Registration saved!</strong> Please check your email for confirmation.-->
                <jhi-enter-otp [email]="registerAccount.email"></jhi-enter-otp>
            </div>

            <div class="error-summary" role="alert" aria-labelledby="error-summary" *ngIf="error">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="error-summary" role="alert" aria-labelledby="error-summary" *ngIf="errorUserExists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="error-summary" role="alert" aria-labelledby="error-summary" *ngIf="errorEmailExists">
                <strong>Email is already in use!</strong> Please choose another one.
            </div>

            <div class="error-summary" role="alert" aria-labelledby="error-summary" *ngIf="doNotMatch">
                The password and its confirmation do not match!
            </div>

            <div class="error-summary" role="alert" aria-labelledby="error-summary" *ngIf="errorCaptchaFailed">
                The captcha failed!
            </div>

            <div class="error-summary" role="alert" aria-labelledby="error-summary" *ngIf="errorInvalidKey">
                The supplied key is invalid. Please ask your administrator to re-send you a registration link.
            </div>

        </div>
        <div *ngIf="!keyMissing">
            <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">
                <div class="form-group">
                    <label class="form-label" for="login">Username
                        <span class="form-hint">
                            This will be the name you use to login.
                        </span>
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder=""
                           required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$" readonly="true">
                    <div *ngIf="login.dirty && login.invalid">
                        <small class="form-text text-danger" *ngIf="login.errors.required">
                            Your username is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.minlength"
                        >
                            Your username is required to be at least 1 character.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.maxlength"
                        >
                            Your username cannot be longer than 50 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.pattern"
                        >
                            Your username can only contain lower-case letters and digits.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="email">Email
                        <span class="form-hint">
                            Your current email address.
                        </span>
                    </label>
                    <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder=""
                           [(ngModel)]="registerAccount.email" minlength=5 maxlength=100 required>
                    <div *ngIf="email.dirty && email.invalid">
                        <small class="form-text text-danger" *ngIf="email.errors.required"
                        >
                            Your email is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.invalid"
                        >
                            Your email is invalid.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.minlength"
                        >
                            Your email is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.maxlength"
                        >
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="password">New password
                        <span class="form-hint">
                            Enter a password.
                        </span>
                    </label>
                    <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder=""
                           [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                    <div *ngIf="password.dirty && password.invalid">
                        <small class="form-text text-danger" *ngIf="password.errors.required"
                        >
                            Your password is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.minlength"
                        >
                            Your password is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.maxlength"
                        >
                            Your password cannot be longer than 50 characters.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-label" for="confirmPassword">New password confirmation
                        <span class="form-hint">
                            Re-enter your password.
                        </span>
                    </label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder=""
                           [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required"
                        >
                            Your confirmation password is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength"
                        >
                            Your confirmation password is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength"
                        >
                            Your confirmation password cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="mobileTelephoneNumber">Mobile telephone number
                        <span class="form-hint">
                            We will need to send you a text message to authenticate your account.
                        </span>
                    </label>
                    <input type="tel" class="form-control" id="mobileTelephoneNumber" name="mobileTelephoneNumber" #mobileTelephoneNumberInput="ngModel" placeholder=""
                           [(ngModel)]="registerAccount.mobileTelephoneNumber" minlength=4 maxlength=50 required>
                    <div *ngIf="mobileTelephoneNumberInput.dirty && mobileTelephoneNumberInput.invalid">
                        <small class="form-text text-danger" *ngIf="mobileTelephoneNumberInput.errors.required"
                        >
                            Your mobile telephone number is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="company">Company
                        <span class="form-hint">
                            Please select the company you work for.
                          </span>
                    </label>
                    <select style="height: auto" class="form-control" id="company" name="company" #companyInput="ngModel"
                            [(ngModel)]="this.selectedCompany" required [attr.disabled]="false">
                        <option *ngFor="let c of this.companies" [ngValue]="c.id">{{c.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <re-captcha[(ngModel)]="registerAccount.captcha" #captchaInput="ngModel" name="captcha" required siteKey="6LfcITEUAAAAAOrOMA8wBwB9ngZb52Mxo63JeLq1"></re-captcha>
                </div>
                <button type="submit" [disabled]="registerForm.form.invalid" class="button button-start"><span class="font-medium">Register</span></button>
            </form>
            <!--
            <div class="alert alert-warning">
                <span>If you want to </span>
                <a class="alert-link" (click)="openLogin()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            -->
        </div>
    </div>
</main>
