<span>
<a href='#proposition-links' class='js-header-toggle menu'>Menu</a>
<nav id='proposition-menu'>
    <a [routerLink]="['/']" id='proposition-name'>Company Sharing External</a>&nbsp;
    <strong class="phase-tag">Alpha</strong>
    <ul id='proposition-links' [ngSwitch]="isAuthenticated()">
        <li *ngSwitchCase="true"><a href="#" (click)="logout()" id="logout">
            <span>Sign out</span>
        </a></li>
        <li *ngSwitchCase="false"><a href='' [routerLink]="['registration-request']" class=''>Register</a></li>
        <li *ngSwitchCase="false">
            <a class="" href='' [routerLink]="['login']" id="login">
                <span>Sign in</span>
            </a>
        </li>
        <li *ngSwitchCase="true"><a *jhiHasAnyAuthority="['ROLE_OFWAT_ADMIN', 'ROLE_COMPANY_ADMIN']" href='' [routerLink]="['ofwat-user-management']">User management</a></li>
        <li *ngSwitchCase="true">
            <a *jhiHasAnyAuthority="['ROLE_OFWAT_ADMIN', 'ROLE_OFWAT_USER']" href='' [routerLink]="['data-collection-management']">Data collections</a></li>
        </li>
        <li *ngSwitchCase="true">
            <a *jhiHasAnyAuthority="['ROLE_OFWAT_ADMIN', 'ROLE_COMPANY_ADMIN', 'ROLE_COMPANY_USER']" href='' [routerLink]="['company-data-collection-management']">Company Data collections</a></li>
        </li>
        <li *ngSwitchCase="true">
            <a [routerLink]="['user-profile']">My Profile</a>
        </li>
        <li>
            <a href="#">Support</a>
        </li>
                <li *ngSwitchCase="true">
            <a *jhiHasAnyAuthority="['ROLE_OFWAT_ADMIN']" href='' [routerLink]="['datasubmission']">Data Submissions</a></li>
        </li>
    </ul>
</nav>
</span>
