<main id="content" role="main" tabindex="-1">
    <div *ngIf="user">
        <h1 class="heading-large">Change {{user.login}} mobile telephone number</h1>
        <div class="grid-row">
            <div class="column-full">
                <jhi-alert></jhi-alert>
                <div class="error-summary" role="alert" aria-labelledby="error-summary" *ngIf="error">
                    <strong>Registration change failed.</strong> Please try again later.
                </div>

            </div>
            <div class="column-full">
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

                    <div class="form-group">
                            <div class="form-group">
                            <label class="form-label" for="mobileTelephoneNumber">Mobile telephone number
                                <span class="form-hint">

                        </span>
                            </label>
                            <input type="tel" class="form-control" id="mobileTelephoneNumber" name="mobileTelephoneNumber" #mobileTelephoneNumberInput="ngModel" placeholder=""
                                   [(ngModel)]="user.mobileTelephoneNumber" minlength=4 maxlength=50 required>
                            <div *ngIf="mobileTelephoneNumberInput.dirty && mobileTelephoneNumberInput.invalid">
                                <small class="form-text text-danger" *ngIf="mobileTelephoneNumberInput.errors.required"
                                >
                                    Your mobile telephone number is required.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="page-footer">
                        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="button" value="Save">Save</button>
                        <button type="button" class="page-footer-back-link" [routerLink]="['/ofwat-user-management/'+ user.login]">Back to your profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
