<main id="content" role="main" tabindex="-1">

    <h2 class="heading-xlarge">Company Sharing</h2>

    <div class="text">
        <p class="lede">
            Ofwat <em class="highlight">Company Sharing Platform</em>
        </p>
        <p>
            A newt? A newt? Now, look here, my good man. It's only a model.
        </p>
        <p>
            Hanif can you think of something to write here please.
        </p>
    </div>
</main>
<!--

    <div class="text">
        <p class="lede">
            A <em class="highlight">24px</em> lead paragraph, maecenas sed diam eget risus varius blandit sit amet non magna.
        </p>

        <p>
            A <em class="highlight">19px</em> body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna.
        </p>

    </div>

    <div class="panel panel-border-wide">
        <p>
            Here is some emphasised text.
        </p>
    </div>

    <div class="text">
        <div class="notice">
            <i class="icon icon-important">
                <span class="visually-hidden">Warning</span>
            </i>
            <strong class="bold-small">
                This text should have a warning icon to the left but it isn't working.
            </strong>
        </div>

    </div>

    <div class="example">
        <ul class="list list-bullet">
            <li>here is a bulleted list</li>
            <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
            <li>vestibulum id ligula porta felis euismod semper</li>
            <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
        </ul>

        <ol class="list list-number">
            <li>This is a numbered list.</li>
            <li>This is the second step in a numbered list.</li>
            <li>The third step is to make sure each item is a full sentence ending with a full stop.</li>
        </ol>

        <ul class="list">
            <li><a href="#">Related link</a></li>
            <li><a href="#">Related link</a></li>
            <li><a href="#">Related link (These fonts are not correct!)</a></li>
            <li><a href="#" class="bold-xsmall">More</a></li>
        </ul>

    </div>

    <div class="example">
        <details role="group">

            <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Help with nationality</span></summary>

            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">

                <p>
                    If you’re not sure about your nationality, try to find out from an official document like a passport or national ID card.
                </p>

                <p>
                    We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post.
                </p>

            </div>

        </details>

    </div>
-->


