<div *ngIf="dataBundle">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h2 class="heading-medium">
                <span>Company Data Bundle</span>
            </h2>

            <div class="form-group">
                <dl class="govuk-check-your-answers cya-questions-short">
                    <div>
                        <dd class="cya-question">Name</dd>
                        <dd class="cya-answer">{{dataBundle.name}}</dd>
                        <dd></dd>
                    </div>
                    <div>
                        <dd class="cya-question">Data Collection</dd>
                        <dd class="cya-answer">{{dataBundle.companyDataCollectionName}}</dd>
                        <dd></dd>
                    </div>
                    <div>
                        <dd class="cya-question">Publishing Status</dd>
                        <dd class="cya-answer">{{dataBundle.statusStatus}}</dd>
                    </div>
                    <div>
                        <dd class="cya-question">Deadline</dd>
                        <dd class="cya-answer">{{dataBundle.companyDeadline | date:'dd LLLL yyyy'}}</dd>
                        <dd></dd>
                    </div>
                    <div>
                        <dd class="cya-question">Owner</dd>
                        <dd class="cya-answer"><div *ngIf="dataBundle.companyOwnerFirstName ">{{dataBundle.companyOwnerFirstName}}</div></dd>
                        <dd></dd>
                    </div>
                    <div>
                        <dd class="cya-question">Reviewer</dd>
                        <dd class="cya-answer"><div *ngIf="dataBundle.companyReviewerFirstName ">{{dataBundle.companyReviewerFirstName}} </div></dd>
                        <dd></dd>
                    </div>
                    <div>
                        <dd class="cya-question">Description</dd>
                        <dd class="cya-answer">{{dataBundle.dataBundleName}}</dd>
                        <dd></dd>
                    </div>
                </dl>
            </div>

            <h2 class="heading-medium">Company Data Inputs</h2>

            <div class="form-group">
                <dl class="govuk-check-your-answers cya-questions-short">
                    <div>
                        <dt class="cya-question">Name</dt>
                        <dt class="cya-question">Status</dt>
                        <dt class="cya-question"></dt>
                    </div>
                    <div *ngFor="let db of dataBundles">
                        <dd class="cya-answer">{{db.name}}</dd>
                        <dd class="cya-answer">{{db.statusStatus}}</dd>
                        <dd class="cya-answer"><a href="" [routerLink]="['/company-data-input-detail', db.id]">Details</a></dd>
                    </div>
                </dl>
            </div>

            <div class="form-group">
                <button type="submit"
                        [routerLink]="['/company-data-collection-detail', dataBundle.companyDataCollectionId]"
                        class="button button-secondary float-left">
                    </span>&nbsp;<span>Back</span>
                </button>
            </div>
        </div>
    </div>
</div>

