<div *ngIf="dataCollection">
    <h2>
        <span>Data Collection</span>
    </h2>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>{{dataCollection.name}}</dd>
    </dl>
    <button type="submit"
            [routerLink]="['/data-collection-deletion-confirmation', dataCollection.id]"
            class="button float-right">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Delete</span>
    </button>
    <button type="submit"
            routerLink="/data-collection-management"
            class="button button-secondary">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>

