<main id="content" role="main" tabindex="-1">

    <h1 class="heading-xlarge">Company Sharing</h1>
    <div class="column-whole">
        <!--
        <div class="bottom-gutter-2-3">
            <div class="grid-row">

                <div class="column-third">
                    <a href="/services/c818b815-c312-4b29-9cf6-2e62cb132034/send/50f15cae-c313-4828-a97a-b183437f5ddc/csv" class="pill-separate-item">
                        Upload recipients
                    </a>
                </div>
                <div class="column-third">
                    <a href="/services/c818b815-c312-4b29-9cf6-2e62cb132034/send/50f15cae-c313-4828-a97a-b183437f5ddc/one-off" class="pill-separate-item">
                        Send to one recipient
                    </a>
                </div>

                <div class="column-one-third">
                    <a href="/services/c818b815-c312-4b29-9cf6-2e62cb132034/templates/50f15cae-c313-4828-a97a-b183437f5ddc/edit" class="pill-separate-item">
                        Edit template
                    </a>
                </div>

            </div>
        </div>
        -->
    </div>
    <div class="text">
        <p *ngIf="account" class="lede">
            Welcome {{account.login}}
        </p>

    </div>

</main>

